* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Doto", sans-serif;
  font-weight: 700;
}

body {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #000000;
  color: #ffffff;
}

.dot-font {
  font-family: "Doto", sans-serif;
}

.nav-title {
  font-size: 32px;
}

nav {
  padding: 4px 8px;
}

main {
  padding: 5px 10px;
  height: 100vh;
}

.offer {
  margin: 2px 5px;
  padding: 5px;
  box-shadow: 2px 2px 5px black;
}

.offer.dark {
  box-shadow: 2px 2px 5px white;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.offers {
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  margin-top: 5px;
  margin-bottom: 5px;
}

form .dot-font {
  font-weight: 700;
}

form label {
  font-size: 20px;
}

form input {
  width: 100%;
  border: 1px solid black;
  background-color: white;
}

form input.dark {
  border: 1px solid white;
  background-color: #333333;
}

form textarea {
  width: 100%;
  border: 1px solid black;
  background-color: white;
}

form textarea.dark {
  border: 1px solid white;
  background-color: #333333;
}

button {
  font-size: 17px;
  font-weight: 900;
  border-radius: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 3px;
  background-color: white;
  border: 2px solid black;
}

button.dark {
  border: 2px solid white;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
}

.wait-icon {
  animation-name: spinning-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  width: fit-content;
  height: fit-content;
  margin: 0px auto;
  font-size: 30px;
}

.wait-label {
  font-weight: 700;
  font-size: 24px;
}

.wait-container {
  text-align: center;
}

.okMessageStyle {
  background-color: #9cff9c;
  border: 2px solid #33FF33;
}

.errorMessageStyle {
  background-color: #FF9C9C;
  border: 2px solid #FF3333;
}

.message {
  padding: 3px;
  color: black;
}

@media screen and (max-width: 960px) {
  .offers {
    grid-template-columns: repeat(2, minmax(50px, 1fr));
  }
}

@media screen and (max-width: 530px) {
  .offers {
    grid-template-columns: repeat(1, minmax(50px, 1fr));
  }
}

@keyframes spinning-animation {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

h2 {
  font-size: 20px;
}

.logo {
  height: 62.5px;
  width: 250px;
  background-image: url("../public/logo/logo-light.png");
  background-position: center;
  background-size: cover;
  margin: 15px auto;
}

.logo.dark {
  background-image: url("../public/logo/logo-dark.png");
}
